{{#hasFields}}
    <div class="metaboxContent">
        {{#fields}}
            <div class="customField">
                <label for="{{properties.ID}}">
                    {{#properties.label}}
                        {{properties.label}}
                    {{/properties.label}}
                    {{^properties.label}}
                        {{properties.name}}
                    {{/properties.label}}
                </label>

                {{{ html }}}
            </div>
        {{/fields}}
        <!--
        <div class="actions">
            <a id="saveChanges" href="#">{{saveChangesLabel}}</a>
        </div>
        <p><strong>Built with WPExpress!</strong></p>
        -->
    </div>
{{/hasFields}}
{{^hasFields}}
    <p>Bummer! Something went terribly wrong with your custom fields :'(</p>
{{/hasFields}}