<div class="wrapper">
    <h1>{{pageTitle}}</h1>
    <p>{{description}}</p>

    <form method="post">
        {{# fields}}
            <p>
                <label for="{{properties.id}}">{{properties.labelText}}</label> <br />
                {{{ html }}}
            </p>
        {{/fields}}
        <p>
            <input type="submit" value="Save" />
        </p>
    </form>

</div>